@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

nav.scroll {
  background-color: #011627;
}

nav.nav-click {
  background-color: #011627;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav .brand-title {
  font-family: "Pacifico", cursive;
  font-size: x-large;
  color: #e71d36;
  padding: 0 10px;
}

.main-nav button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  border: 2px solid white;
  background: none;
  border-radius: 30px;
  color: #fdfffc;
  transition: color 0.6s, border-color 0.7s;
}

.main-nav button:hover {
  color: #e71d36;
  border-color: #e71d36;
}

.main-nav .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.main-nav .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.main-nav .nav-links {
  height: 100%;
}

.main-nav .nav-links ul {
  display: flex;
  margin: 0;
}

.main-nav .nav-links ul li {
  list-style: none;
  font-size: larger;
}

.main-nav .nav-links ul li a {
  display: block;
  text-decoration: none;
  color: #fdfffc;
  padding: 1rem;
}

@media (max-width: 900px) {
  .main-nav button {
    border: none;
    font-size: large;
    margin: 0;
  }
  .main-nav .brand-title {
    font-size: larger;
  }
}

@media (max-width: 900px) {
  .main-nav {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .toggle-button {
    display: flex !important;
  }
  .nav-links {
    display: none !important;
    width: 100% !important;
  }
  .nav-links ul {
    width: 100% !important;
    flex-direction: column !important;
  }
  .nav-links ul li {
    text-align: center !important;
    border-bottom: 1px solid white;
  }
  .nav-links ul li a {
    padding: 0.5rem 1rem !important;
  }
  .nav-links.active {
    display: flex !important;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.b1 {
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(../assets/img/my-hero.jpg) no-repeat 50% 50%;
  top: 0;
  display: table;
  background-size: cover;
}

.b1 .in1 {
  display: table-cell;
  backdrop-filter: blur(3px);
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  background-color: #0b090a;
  border-radius: 5px;
  opacity: 0.9;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .content {
    max-width: 200px;
  }
}

.content p {
  margin-top: 5px;
  color: white;
  font-size: larger;
}

@media screen and (max-width: 576px) {
  .content p {
    font-size: small;
  }
}

.content hr {
  border: 1px solid white;
}

.content h2 {
  color: white;
  font-size: x-large;
}

@media screen and (max-width: 576px) {
  .content h2 {
    font-size: larger;
  }
}

.content h2 span {
  color: #e71d36;
  filter: saturate(120%);
  font-family: "Pacifico", cursive;
  font-size: 1.1em;
  display: inline-block;
  padding: 5px 0;
}

.content h2 span i {
  color: red;
  transition: 0.8s;
  transition-property: transform;
}

.content h2 span i:hover {
  transform: scale(1.5, 1.5);
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  padding: 60px;
  background-color: #011627;
}

@media screen and (max-width: 576px) {
  .menu {
    padding: 20px;
  }
}

.menu .menu-card-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  text-align: center;
  position: relative;
  top: 50%;
  background-color: black;
  opacity: 0.7;
  transition: 0.8s;
  transition-property: opacity;
}

.menu .menu-card-title:hover {
  opacity: 1;
}

.menu .menu-card {
  background-color: #ccc;
  background-size: cover;
  transition: transform 0.1s ease-out;
}

.menu .menu-card:after {
  content: "";
  display: block;
  padding-top: calc(100% / (16 / 10));
}

.menu .menu-card:hover {
  transform: translateY(5px);
}

.menu .menu-card:nth-child(1) {
  background-image: url("../assets/img/indian.jpg");
}

.menu .menu-card:nth-child(2) {
  background-image: url("../assets/img/chinese.jpg");
}

.menu .menu-card:nth-child(3) {
  background-image: url("../assets/img/french.jpg");
}

.menu .menu-card:nth-child(4) {
  background-image: url("../assets/img/italian.jpg");
}

.menu .menu-card:nth-child(5) {
  background-image: url("../assets/img/mexican.jpg");
}

.menu .menu-card:nth-child(6) {
  background-image: url("../assets/img/thai.jpg");
}

.featured {
  background-color: #fdfffc;
  padding: 0 40px;
}

@media screen and (max-width: 576px) {
  .featured {
    padding: 0;
  }
}

.featured .featured-title h2 {
  font-size: xx-large;
  padding: 20px 20px 0 20px;
  text-align: center;
  color: #e71d36;
}

@media screen and (max-width: 900px) {
  .featured .featured-title h2 {
    font-size: x-large;
  }
}

@media screen and (max-width: 600px) {
  .featured .featured-title h2 {
    font-size: medium;
  }
}

.featured .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: stretch;
  padding: 20px;
}

.featured .cards .card {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.featured .cards .card:hover {
  transition: transform 0.1s ease-out;
  transform: translateY(5px);
}

.featured .cards .card img {
  width: 100%;
  height: auto;
}

.featured .cards .card .card-footer {
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}

.featured .cards .card .card-footer .price {
  color: #e71d36;
  font-weight: 700;
}

.featured .cards .card .card-footer .counter-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured .cards .card .card-footer .counter-controls button {
  width: 30px;
  margin: 0 5px;
  padding: 2px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #011627;
  color: white;
  font-size: large;
}

.featured .cards .card .card-footer .counter-controls .counter {
  display: inline-block;
  margin: 0 5px;
  padding: 2px 10px;
}

@media (max-width: 768px) {
  .featured .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .featured .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .featured .cards .card {
    text-align: center;
  }
}

.newsletter-container {
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-container .picture {
  width: 50%;
  background: url(../assets/img/hero.jpg) no-repeat center;
  background-size: cover;
}

.newsletter-container .newsletter {
  width: 50%;
  padding: 200px 8%;
}

.newsletter-container .newsletter h1 {
  margin-bottom: 20px;
  color: #011627;
  font-weight: 900;
}

.newsletter-container .newsletter p {
  margin-bottom: 40px;
  font-size: 14px;
  color: #777;
}

.newsletter-container .newsletter .newsletter-form {
  height: 68px;
  background-color: #011627;
  display: flex;
  border-radius: 3px;
  padding: 8px 0;
}

.newsletter-container .newsletter .newsletter-form .email-input {
  width: calc(100% - 120px);
  padding: 20px;
  color: #f1f1f1;
}

.newsletter-container .newsletter .newsletter-form .email-input::placeholder {
  color: #f1f1f1;
}

.newsletter-container .newsletter .newsletter-form .email-input:focus {
  padding-left: 30px;
}

.newsletter-container .newsletter .newsletter-form .btn {
  width: 120px;
  color: #f1f1f1bb;
  text-transform: uppercase;
  border-left: 1px solid #777 !important;
  cursor: pointer;
}

.newsletter-container .newsletter .newsletter-form .btn:hover {
  color: #f1f1f1;
}

.newsletter-container .newsletter .newsletter-form .email-input,
.newsletter-container .newsletter .newsletter-form .btn {
  background: none;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.2s linear;
}

@media screen and (max-width: 900px) {
  .newsletter-container .picture {
    width: 100%;
    height: 360px;
  }
  .newsletter-container .newsletter {
    width: 100%;
    padding: 100px 20%;
  }
}

@media screen and (max-width: 600px) {
  .newsletter-container .newsletter {
    padding: 100px 30px;
  }
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011627;
}

footer p {
  font-size: x-large;
  color: white;
}

@media screen and (max-width: 600px) {
  footer {
    height: 80px;
  }
  footer > p {
    font-size: medium;
  }
}
/*# sourceMappingURL=main.css.map */